<h1>Filter Videos</h1>

<form [formGroup]="filtersForm">
  <label for="videoTitle">Video Title</label>
  <input id="videoTitle" formControlName="title" placeholder="title" />

  <input formControlName="author" placeholder="author" />

  <select formControlName="region" placeholder="Region">
    <option *ngFor="let option of regionOptions" [value]="option.value">
      {{ option.label }}
    </option>
  </select>
</form>
